.elementor-2712 .elementor-element.elementor-element-79c3df56{--display:flex;--background-transition:0.3s;border-style:none;--border-style:none;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-2712 .elementor-element.elementor-element-79c3df56:hover{box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.15);}.elementor-2712 .elementor-element.elementor-element-79c3df56, .elementor-2712 .elementor-element.elementor-element-79c3df56::before{--border-transition:0.3s;}.elementor-2712 .elementor-element.elementor-element-140ab21 .elementor-cta .elementor-cta__bg, .elementor-2712 .elementor-element.elementor-element-140ab21 .elementor-cta .elementor-cta__bg-overlay{transition-duration:1500ms;}.elementor-2712 .elementor-element.elementor-element-140ab21 > .elementor-widget-container{border-style:solid;border-width:1px 1px 1px 1px;border-color:var( --e-global-color-fc9850e );border-radius:5px 5px 5px 5px;box-shadow:0px 1px 0px 0px #4A2D5B;}.elementor-2712 .elementor-element.elementor-element-140ab21 .elementor-cta__content{min-height:50px;text-align:left;padding:0px 0px 0px 0px;}.elementor-2712 .elementor-element.elementor-element-140ab21 .elementor-cta__title{font-family:var( --e-global-typography-afd728f-font-family ), Sans-serif;font-size:var( --e-global-typography-afd728f-font-size );font-weight:var( --e-global-typography-afd728f-font-weight );line-height:var( --e-global-typography-afd728f-line-height );word-spacing:var( --e-global-typography-afd728f-word-spacing );}.elementor-2712 .elementor-element.elementor-element-140ab21 .elementor-cta__title:not(:last-child){margin-bottom:0px;}@media(max-width:1024px){.elementor-2712 .elementor-element.elementor-element-140ab21 .elementor-cta__title{font-size:var( --e-global-typography-afd728f-font-size );line-height:var( --e-global-typography-afd728f-line-height );word-spacing:var( --e-global-typography-afd728f-word-spacing );}}@media(max-width:767px){.elementor-2712 .elementor-element.elementor-element-140ab21 .elementor-cta__title{font-size:var( --e-global-typography-afd728f-font-size );line-height:var( --e-global-typography-afd728f-line-height );word-spacing:var( --e-global-typography-afd728f-word-spacing );}}/* Start custom CSS for call-to-action, class: .elementor-element-140ab21 */.elementor-2712 .elementor-element.elementor-element-140ab21 .elementor-cta__content{
    padding: 5px 15px !important;
}

.elementor-2712 .elementor-element.elementor-element-140ab21 .elementor-cta__bg-wrapper{
    min-height: 60px;
    min-width: 60px;
    height: 60px;
    width: 80px;
}

.elementor-2712 .elementor-element.elementor-element-140ab21 h2{
    margin: 0px;
}

.elementor-2712 .elementor-element.elementor-element-140ab21 .elementor-cta__content{
    display: flex;
    align-items: center;
    gap: 15px;
}

.elementor-2712 .elementor-element.elementor-element-140ab21 .elementor-icon svg{
    width: 25px;
}

.elementor-2712 .elementor-element.elementor-element-140ab21 .elementor-cta__content-item{
    display: flex;
    align-items: center;
    width: auto;
    margin: 0px;
}

.elementor-2712 .elementor-element.elementor-element-140ab21 .elementor-cta__title{
    width: 75%;
}/* End custom CSS */